<!DOCTYPE html>
<html lang ="eng" ng-app="quoteAuthor">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
	<head>
		<title>Authors</title>
		<link rel="stylesheet" type="text/css" href="resources/css/main.css">
		<script type="text/javascript" src="resources/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="resources/js/controllers.js"></script>
	</head>
	<body>
		<div ng-controller="Authors" class="main">
		<div class="search">
			 <label>search: </label>
			<input type="text"  autofocus="autofocus" ng-model="query"/>
		</div>
		<ul class="artistlist">
			<li class="artist cf" ng-repeat="author in authors | filter: query">
			<img ng-src="resources/images/authors/{{author.photo}}" alt="Photo of {{author.firstName}}  {{author.lastName}}">
					<div class="info">
        				<h2>{{author.firstName}}  {{author.lastName}}</h2>
      				</div>
			</li>
		</ul>
	</div>
	</body>
</html>